html, body {
  height: 100%;
}

body {
  background: #222222;
  color: #ffffff;
  margin: 0 auto;
  font-weight: 400;
}

app-root {
  display: block;
  height: 100%;
}

* {
  box-sizing: border-box;
}



