<h2>Are you really want to replace the data stored?</h2>

<div class="Warning-footer">
  <button (click)="onCancel()" mat-raised-button>Cancel</button>
  <button (click)="onConfirm()" mat-raised-button color="primary">Confirm</button>
</div>
