<section class="App-wp">
  <mat-card>
    <mat-tab-group [selectedIndex]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="INPUT">
        <form [formGroup]="form" (submit)="onProceed()" class="App-tab">
          <h2 class="App-title">User:</h2>
          <div class="App-row">
            <div class="App-cell">
              <mat-form-field class="App-input">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput>
                <mat-error *ngIf="form.get('name').hasError('required')">Name is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="App-input">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput>
                <mat-error *ngIf="form.get('email').hasError('required')">Email is <strong>required</strong></mat-error>
                <mat-error *ngIf="form.get('email').hasError('email')">Email is <strong>wrong</strong></mat-error>
              </mat-form-field>
            </div>

            <div class="App-cell">
              <mat-form-field class="App-input">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('gender').hasError('required')">Gender is <strong>required</strong></mat-error>
              </mat-form-field>

              <mat-form-field class="App-input">
                <mat-label>Country</mat-label>
                <input formControlName="country" [value]="form.get('country').value?.formatted_address" matInput matGoogleMapsAutocomplete>
                <mat-error *ngIf="form.get('country').hasError('required')">Country is <strong>required</strong></mat-error>
              </mat-form-field>
            </div>

            <div class="App-cell">
              <mat-form-field class="App-input">
                <mat-label>Age</mat-label>
                <input formControlName="age" matInput>
                <mat-error *ngIf="form.get('age').hasError('required')">Age is <strong>required</strong></mat-error>
                <mat-error *ngIf="form.get('age').hasError('min')">Age is <strong>lower than required</strong></mat-error>
                <mat-error *ngIf="form.get('age').hasError('max')">Age is <strong>higher than required</strong></mat-error>
              </mat-form-field>

              <mat-form-field class="App-input">
                <mat-label>City</mat-label>
                <input formControlName="city" [value]="form.get('city').value?.formatted_address" matInput matGoogleMapsAutocomplete>
                <mat-error *ngIf="form.get('city').hasError('required')">City is <strong>required</strong></mat-error>
              </mat-form-field>
            </div>
          </div>

          <h2 class="App-title">Data:</h2>
          <div class="App-row">
            <div (click)="uploadInputCSV.click()" class="App-cell">
              <mat-form-field class="App-input">
                <mat-label>CSV file</mat-label>
                <input (change)="onCSVFileChange($event)" formControlName="uploadedCSVFile" #uploadInputCSV type="file" style="display: none;">
                <input [value]="uploadedCSVFileName" formControlName="uploadedCSVFileName" matInput>
                <mat-error *ngIf="form.get('uploadedCSVFileName').hasError('required')">CSV file is <strong>required</strong></mat-error>
                <mat-error *ngIf="form.get('uploadedCSVFileName').hasError('notCSVFile')">Selected file is <strong>not a csv File Type</strong></mat-error>
              </mat-form-field>
            </div>

            <div class="App-cell">
              <button (click)="saveCSVData()" type="button" class="App-uploadBtn" matSuffix mat-stroked-button>Upload</button>
            </div>

            <div class="App-cell">
              <mat-form-field class="App-input" (click)="picker.open()">
                <mat-label>Choose a date</mat-label>
                <input formControlName="date" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('date').hasError('required')">Date is <strong>required</strong></mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="App-row">
            <div class="App-cell">
              <mat-form-field class="App-input">
                <mat-label>Input CSV data</mat-label>
                <textarea (keyup)="onUserInputCSVChange()" formControlName="textCSV" matInput cdkTextareaAutosize cdkAutosizeMinRows="6" cdkAutosizeMaxRows="20"></textarea>
                <mat-error *ngIf="form.get('textCSV').hasError('required')">This field is <strong>required</strong></mat-error>
                <mat-error *ngIf="form.get('textCSV').hasError('pattern')">Data should be in CSV format and be split by rows <strong>using semicolon</strong></mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="App-row is-footer">
            <div class="App-cell">
              <button type="submit" mat-raised-button color="primary">Continue</button>
            </div>
          </div>
        </form>
      </mat-tab>



      <mat-tab [disabled]="activeTabIndex !== AppComponentTabs.output" label="OUTPUT">
        <div *ngIf="activeTabIndex === AppComponentTabs.output" class="App-tab">
          <h2 class="App-title">User Info:</h2>
          <mat-chip-list>
            <mat-chip>{{form.value.name}}</mat-chip>
            <mat-chip>{{form.value.email}}</mat-chip>
            <mat-chip>{{form.value.gender}}</mat-chip>
            <mat-chip>{{form.value.city.formatted_address}}</mat-chip>
            <mat-chip>{{form.value.country.formatted_address}}</mat-chip>
            <mat-chip>{{form.value.age}}</mat-chip>
            <mat-chip>{{form.value.date | date: 'yyyy-MM-dd'}}</mat-chip>
          </mat-chip-list>

          <div class="App-data">
            <div class="App-data-left">
              <h2 class="App-title">Table Data:</h2>
              <app-table [data]="CSVData"></app-table>
            </div>

            <div class="App-data-right">
              <h2 class="App-title">Chart Data:</h2>
              <app-chart [data]="CSVData"></app-chart>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</section>
