@import "shared";


.App {
  &-wp {
    padding: 40px;
  }

  &-loading {
    @extend %u-dfCenterCenter;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;

    &-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      pointer-events: none;
      user-select: none;
    }
  }

  &-tab {
    padding: 20px;
  }

  &-title {
    margin: 20px 0 0;
    letter-spacing: 4px;

    @include md {
      text-align: center;
      margin: 20px 0 10px;
    }
  }

  &-row {
    @extend %u-dfCenterBtw;
    margin: 0 -10px;

    @include md {
      flex-flow: column;
    }

    &.is-footer {
      margin-top: 30px;
    }
  }

  &-cell {
    display: flex;
    flex-flow: column;
    flex: 1;
    width: 100%;
    margin: 0 10px;
  }

  &-uploadBtn {
    @include md {
      margin-bottom: 20px;
    }
  }

  &-data {
    @extend %u-dfStartBtw;

    @include lg {
      flex-flow: column;
    }

    &-left {
      flex: 1;
      width: 100%;
      margin-right: 20px;

      @include lg {
        margin-right: 0;
      }
    }

    &-right {
      flex: 1;
      width: 100%;
    }
  }
}
