/*
Color name generator:
http://chir.ag/projects/name-that-color/#989898
Can be used for component "--modifierName"
*/

$--color-accent: #33b129;
$--color-mariner: #266dd6;
$--color-codGray: #0B0B0B;
$--color-dustyGray: #989898;
