<mat-form-field class="App-input">
  <mat-label>Price filter</mat-label>
  <input (keyup)="onTablePriceFilterChange($event)" matInput>
</mat-form-field>
<ngx-datatable
  #tableEl
  class="dark"
  [columns]="table.columns"
  [rows]="table.rows"
  [columnMode]="ColumnMode.force"
  [headerHeight]="50"
  [footerHeight]="50"
  rowHeight="auto"
  [limit]="4">
</ngx-datatable>
